@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.font{
    font-family: "Inter", sans-serif;
}
/*Navber style*/
 
.display-flex{
    display: flex;
    color: aliceblue;
    font-size: 15px;
}

.main-parent{
    margin-left: 130px;
    margin-top: 100px;
}
.img{
   margin-top: -395px;
   margin-left: 890px;
}
.bg-light-black{
    background: linear-gradient(180.00deg, rgb(3, 3, 3),rgba(5, 5, 5, 0.849) 100%);
    width:100%;
    height:550px;
   
}
.fit{
    color: rgb(230,83,60);
    font-size: 37px;
}
.navber{
    justify-content: space-between;
    align-items: center;
    margin: 10px 150px;
}
.item{
    align-items: center;
    box-sizing:border-box ;
    height: 26px;
    width: 298px;
    border:0.1px solid rgb(58, 57, 57) ;
    margin: 0px;
    border-radius: 20px;
}
.nav-item{
    font-size: 12px;
    
    list-style: none;
    margin-right:34px;
    margin-left: 0px;
    
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
}

.navbar, .banner{
    max-width: 1440px;
    height: 650px;
}
.heading{
    color: rgb(255 255 255);
    font-size: 48px;
    padding: 0px;
    margin: 0px;
    
}
.content{
    font-size: 10px;
    color: rgba(121, 110, 110, 0.877);
    

}
.btn-primary{
    background-color: rgb(230 83 60);
    border-radius: 19px;
    border: none;
    padding: 5px;
    margin: 0 5px;
    height: 30px;
    width: 140px;
    color: aliceblue;
    font-size: 12px;
    margin-top: 10px;
}
.two{
    box-sizing: border-box; 
    background-color:rgba(17, 16, 16, 0.849) ;
border: 1px solid rgb(59, 58, 58);
border-radius: 42px;
    padding: 5px;
    margin: 0 5px;
    height: 35px;
    width: 140px;
    color: aliceblue;
    font-size: 12px;
}
.ball{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color:rgb(230,83,60);
    margin-top: -50px;
    
}
.right{
    margin-left: 80px;
    margin-top: -250px;
}