@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.font{
    font-family: "Inter", sans-serif;
}
/*Navber style*/
 
.display-flex{
    display: flex;
    color: aliceblue;
    font-size: 15px;
}

.main-parent{
    margin-left: 130px;
    margin-top: 100px;
}
.img{
   margin-top: -395px;
   margin-left: 890px;
}
.bg-light-black{
    background: linear-gradient(180.00deg, rgb(3, 3, 3),rgba(5, 5, 5, 0.849) 100%);
  width: 1320px;
  height: 550px;
   
}
.fit{
    color: rgb(230,83,60);
    font-size: 37px;
}
.navber{
    justify-content: space-between;
    align-items: center;
    margin: 10px 150px;
}
.item{
    align-items: center;
    box-sizing:border-box ;
    height: 26px;
    width: 298px;
    border:0.1px solid rgb(58, 57, 57) ;
    margin: 0px;
    border-radius: 20px;
}
.nav-item{
    font-size: 12px;
    
    list-style: none;
    margin-right:34px;
    margin-left: 0px;
    
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
}

.navbar, .banner{
    max-width: 1440px;
    height: 650px;
}
.heading{
    color: rgb(255 255 255);
    font-size: 48px;
    padding: 0px;
    margin: 0px;
    
}
.content{
    font-size: 10px;
    color: rgba(121, 110, 110, 0.877);
 

}
.free{
font-size: 12px;
color: rgba(121, 110, 110, 0.877);

}
.btn-primary{
    background-color: rgb(230 83 60);
    border-radius: 19px;
    border: none;
    padding: 5px;
    margin: 0 5px;
    height: 30px;
    width: 140px;
    color: aliceblue;
    font-size: 12px;
    margin-top: 10px;
}
.two{
    box-sizing: border-box; 
    background-color:rgba(17, 16, 16, 0.849) ;
border: 1px solid rgb(59, 58, 58);
border-radius: 42px;
    padding: 5px;
    margin: 0 5px;
    height: 35px;
    width: 140px;
    color: aliceblue;
    font-size: 12px;
}
.ball{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color:rgb(230,83,60);
    margin-top: -50px;
    
}
.right{
    margin-left: 80px;
    margin-top: -250px;
}
/*change your habit section*/
.habit-section{
    background-color: black;
   width: 1220px;
   height:720px;
    display:flex ;
    flex-direction: column;
   align-items: center;
padding: 50px;
   
}
.banner{
    color: aliceblue;
    font-size: 35px;
    margin:0px;
    padding: 0px;
}
#picture{
    display: flex;
    flex-direction: row;
    justify-content: center;
align-items:center;

}
#picture img{
    height: 60%;
    width: 60%;
    border-radius: 50%;
    border: 1px solid rgba(121, 110, 110, 0.877);
    margin: 0 20px 0px 20px;

}
.part{
    color: rgba(243, 238, 238, 0.925);
    margin-right: 440px;
    margin-top: -20px;
    padding: 0px;
    font-size: 13px;

}
.time{
    color: rgba(243, 238, 238, 0.925);
    margin-right: 150px;
    margin-left: 30px;
    margin-top: -45px;
    
    font-size: 13px;
}
.believe{
    color: rgba(121, 110, 110, 0.877);
    font-size: 8px;
    margin-top: -20px;
    margin-right: 140px;
    text-align: center;
}
.paragraph{
    margin-left: -20px;
    text-align: center;
    font-size: 8px;
    color: rgba(121, 110, 110, 0.877);
}
.we{
    color: rgb(182, 188, 194);
    font-size:13px ;
    margin-left: 185px;
    margin-top: -50px;
}
.be{
    font-size: 8px;
    color: rgba(121, 110, 110, 0.877);
    margin-left: 160px;
    margin-top: -20px;
    text-align: center;
}
.loss{
    font-size: 13px;
    color: rgb(182, 188, 194);
    margin-left: 470px;
    margin-top: -45px;

}
.weight{
    color: rgba(121, 110, 110, 0.877);
    font-size: 8px;
    margin-left: 460px;
    margin-top: -18px;
    text-align: center;
}
.card{
    color: aliceblue;
    font-size: 24px;
}
.everyone{
    font-size: 8px;
    color: rgba(121, 110, 110, 0.877);
    margin: 10px 18px 0px 18px;
     
}
.ground{
    margin-top:-195px;
    margin-left: 330px;
}

.card{
    border-radius: 18px;
background: rgb(34, 34, 34);
height: 27%;
width: 45%;
margin-top: 70px;
}
.now{
    margin: 20px 18px;
    width: 125px;
    border-radius: 20px;
}
.bml{
    background-color: rgb(34, 34, 34);
    height: 300px;
    width: 1320px;
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.input{
    font-size: 8px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
   display: grid;
   grid-template-columns:repeat(2, 200px);


}
.table{
    margin-left: 150px;
}
.Calculate{
    background-color: rgb(230 83 60);
    border-radius: 19px;
    border: none;
    padding: 5px;
    margin: 0 5px;
    height: 30px;
    width: 130px;
    color: aliceblue;
    font-size: 12px;
  margin-top: 20px;  
}
.meet{
    background-color: black;
    height: 600px;
    width: 1320px;
    margin-top: -40px;


}
.team{
    background: rgb(50, 50, 50);
    height: 350px;
    width: 710px;
    padding: 8px;
    gap: 8px;
    border-radius: 10px;
    margin:50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    
}
.bell{
    background-image: url(./images/trainer1.png);
    background-size: cover;
    flex-grow: 0;
    height: 170px;
    width: 230px;
    border-radius: 16px;
}
.cam{
    background-image: url(./images/trainer2.png);
    background-size: cover;
    flex-grow: 0;
    height: 170px;
    width: 230px;
    border-radius: 16px;   
}
.dar{
    background-image: url(./images/trainer3.png);
    background-size:cover;
    flex-grow: 0;
    height: 170px;
    width: 230px;
    background-repeat: no-repeat;
    border-radius: 16px;
}
.dia{
    background-image: url(./images/trainer4.png);
    background-size: cover;
    flex-grow: 0;
    background-repeat: no-repeat;
    height: 170px;
    width: 230px;
    border-radius: 16px;
}
.coc{
    background-image: url(./images/trainer5.png);
    background-size: cover;
    flex-grow: 0;
    height: 170px;
    width: 230px;
    border-radius: 16px;
}
.the{
    background-image: url(./images/trainer6.png);
    background-size: cover;
    flex-grow: 0;
    height: 170px;
    width: 230px;
    border-radius: 16px;
}
.diet{
    background-color: black;
    height: 400px;
    width: 1320px;
}









    /*Responsive style start*/
    @media screen and (max-width:576px) {
    
            .bg-light-black{
                width: 700px;
                height: 1100px;
            }
            .fit{
                margin-left: -110px;
                font-size: 60px;
            }
            .main-parent{
                margin: 20px 25px;
        
            }
            .btn-primary{
                width: 180px;
                height: 60px;
                font-size: 20px;
                border-radius: 22px;
            }
            .two{
                width: 180px;
                height: 60px;
                font-size: 20px;
                border-radius: 22px;
            }
        
            
            .heading{
                font-size: 50px;
            }
            .content{
                font-size: 15px;

            }

            .item{
                visibility: hidden;
            }
            .img{
                position: absolute;
                margin-top: 70px;
                margin-left: 100px;
                height: 600px;
                width: 400px;

            }
            .left{
                margin-left: -700px;
                margin-top: 50px;
            }
            .right{ 
                
                margin-left: -700px;
                margin-bottom:-150px
                
            
            }
  .habit-section{
    width: 100%;
    height: 100%;
   
  }
  #picture{
display: grid;
grid-template-columns: repeat(1 1fr)
  }
    
    }
        
    